body {
  background-color: rgba(158, 186, 243, 0.3);
}

.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

footer {
  font-size: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
