.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #d5f0f8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
