.WeatherSearch {
  border: 1px solid rgb(209, 206, 206);
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  border-radius: 8px;
}

.WeatherSearch .btn {
  background-color: rgb(70, 70, 240);
}

.WeatherSearch .btn:hover {
  background-color: #f6f9fa;
  color: rgb(70, 70, 240);
  border-color: rgb(70, 70, 240);
}

.WeatherSearch .form-control {
  border-color: rgba(70, 70, 240, 0.6);
}
