.WeatherDisplay {
  color: rgb(70, 70, 240);
}

.WeatherDisplay ul {
  list-style: none;
}

.WeatherDisplay h1 {
  font-size: 40px;
}

.WeatherDisplay .cityInfo {
  text-align: center;
}

@media (max-width: 600px) {
  .WeatherDisplay img {
    width: 80px;
  }

  .WeatherDisplay .weather-info {
    font-weight: 700;
  }

  .WeatherDisplay .weather-information {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
